<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Journal of Brief Ideas</title>
    <link href="/static/readable-bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="http://harvesthq.github.io/chosen/chosen.css" rel="stylesheet">
    <script type="text/javascript">
        var LOGGED_IN = {{ 'true' if 'figshare_token' in session else 'false' }};
    </script>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-8">
              <h1><a href="/">Journal of Brief Ideas</a></h1>
            </div>
            <div id="login-nav" class="col-lg-4">
              {% if 'figshare_token' in session %}
                Logged in as {{ session['figshare_name'] }} <a href="/logout" class="btn btn-warning">Log out</a>
              {% else %}
                <a href="/login" class="btn btn-success">Log in with Figshare</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
  </body>
</html>
