<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Journal of Brief Ideas</title>
    <link href="/static/readable-bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="http://harvesthq.github.io/chosen/chosen.css" rel="stylesheet">
    <script type="text/javascript">
        var LOGGED_IN = {{ 'true' if 'figshare_token' in session else 'false' }};
    </script>
  </head>
  <body>
    <div class="container">
        <div class="page-header">

          <div class="row">
            <div class="col-lg-12">
              <div class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">Journal of Brief Ideas</a>
                  </div>
                  <ul class="nav navbar-nav">
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    {% if 'figshare_token' in session %}
                      <li><a href="#logged-in">Logged in as {{ session['figshare_name'] }}</a></li>
                      <li><a href="/logout" class="btn btn-warning">Log out</a></li>
                    {% else %}
                      <li><a href="/login" class="btn btn-success">Log in with Figshare</a></li>
                    {% endif %}
                  </ul>
                </div><!-- /.container -->
              </div><!-- /.navbar -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->

        </div><!-- /.page-header -->
        {% block content %}
        {% endblock %}
    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
  </body>
</html>
