{% extends "_base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">

        <h4>About the Journal of Brief Ideas</h4>

        <p>More information about the Journal of Brief Ideas will be coming soon, but we started prototyping at Science Hack Day SF 2013 and will be continuing the project in coming months. You can see some of the <a title="" href="http://www.slideshare.net/physicsdavid/journal-of-brief-ideas">slides</a> about the project presented in the 2.5 minute demo slot at Science Hack Day. For more information, contact <a href="mailto:physicsdavid@gmail.com">David Harris</a> or <a href="mailto:skryskalla@gmail.com">Steven Kryskalla</a>.</p>

        <p>
            Initial references (in Brief Idea format):
            <ul>
                <li>Journal of Brief Ideas concept. David Harris. figshare.<br />
        <a title="" href="http://dx.doi.org/10.6084/m9.figshare.789014">http://dx.doi.org/10.6084/m9.figshare.789014</a>
                </li>
                <li>Journal of Brief Ideas platform. David Harris. figshare.<br />
        <a title="" href="http://dx.doi.org/10.6084/m9.figshare.789062">http://dx.doi.org/10.6084/m9.figshare.789062</a>
                </li>
             </ul>
        </p>

    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12">
        <p><a href="/">Back</a> to homepage.</p>
    </div>
</div>

{% endblock %}
